body {
    width: 960px;
    margin: 0 auto;
    padding: 30px;
}
main {
    position: relative;
    height: 480px;
}
header {
    height: 50px;
    background-color: black;
    color: whitesmoke;
}
header h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 40px;
    padding: 5px;
    float: left;
}
header h2 {
    padding: 5px;
}
section#image_container {
    position: absolute;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    white-space: nowrap;
    right: 0;
    top: 0;
    height: 240;
}
section#image_container img {
    display: inline-block;
    width: 220px;
    height: 100%;
    border: solid black;
} 
section#chartCanvas {
    width: 750px;
    height: 480px;
    float: right;
}
#tally {
    margin-top: 20px;
    padding: 10px;
    float: left;
    width: 180px;
    height: 420px;
    border: 2px solid black;
    font-size: 12px;
    border-radius: 5px;
}
#tally div {
    font-weight: bolder;
}
#instructions {
    position: absolute;
    margin-left: 220px;
    bottom: 10px;
}
#instructions p {
    width: 700px;
    padding: 10px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
footer {
    background-color: black;
    height: 50px;
    color: whitesmoke;
    padding: 10px;
}